#include <windows.h>
Ex4_Icon ICON "cg.ico"
Ex4_Menu MENU
{
    POPUP "&File" {
        MENUITEM "&Open...\tCtrl-0", 4 
        MENUITEM "&Save", 5
        MENUITEM "Save As...", 6
        MENUITEM SEPARATOR
        MENUITEM "&Hex view", 7, CHECKED GRAYED 
        MENUITEM "&Exit\tAlt-F4", 8
    }
    POPUP "&Edit" {
        MENUITEM "&Copy", 9
        MENUITEM "&Paste", 10
        POPUP "Popup" {
            MENUITEM "1", 11
            MENUITEM "2", 12
            MENUITEM "3", 13
        }
        MENUITEM SEPARATOR
        MENUITEM "Search", 14
    }
    POPUP "&Help" {
        MENUITEM "&About...\tF1", 15
    }
}
100 DIALOG 0, 0, 300, 200
STYLE WS_POPUP | WS_CAPTION | DS_MODALFRAME 
CAPTION "About This Program"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 125, 180, 50, 13
    CONTROL "DROP TAKE HOLD", 16, "STATIC", SS_CENTER, 0, 80, 300, 20
    CONTROL "Version 1.1", 17, "STATIC", SS_CENTER, 0, 140, 300, 20
    CONTROL "Created by [V&&V]", 18, "STATIC", SS_CENTER, 0, 150, 300, 20
    CONTROL "March 2025", 19, "STATIC", SS_CENTER, 0, 160, 300, 20
END

101 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "TAKE"
BEGIN
    CONTROL "You took my button", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

102 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "DROP"
BEGIN
    CONTROL "You dropped my second button", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

103 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "HOLD"
BEGIN
    CONTROL "You holding my third button", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

104 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Open"
BEGIN
    CONTROL "Opening file...", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

105 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Save"
BEGIN
    CONTROL "Saving file...", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

106 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Save As"
BEGIN
    CONTROL "Saving as...", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

107 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Hex View"
BEGIN
    CONTROL "Hex view activated", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

108 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Copy"
BEGIN
    CONTROL "Copying...", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

109 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Paste"
BEGIN
    CONTROL "Pasting...", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

110 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Popup 1"
BEGIN
    CONTROL "Popup item 1", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

111 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Popup 2"
BEGIN
    CONTROL "Popup item 2", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

112 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Popup 3"
BEGIN
    CONTROL "Popup item 3", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END

113 DIALOG 0, 0, 200, 60
STYLE WS_POPUP | WS_CAPTION
CAPTION "Search"
BEGIN
    CONTROL "Searching...", -1, "STATIC", SS_CENTER, 10, 10, 180, 20
    PUSHBUTTON "OK", IDOK, 75, 40, 50, 10
END